<template name="dashboard">
	<div class="template-dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<!-- {{> addPost}} -->
					{{> pdfs}}
					<!-- {{> favoritesSidebar}} -->
				</div>
				<div class="col-md-6">
					<!-- {{> posts}} -->
					{{> formFields}}
				</div>
				<div class="col-md-3">
					<a id="generate-zip" href="#" class="btn btn-primary" role="button">Go!</a>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="pdfs">
	<div class="template-pdfs">
		<ul class="list-group">
		{{#each  pdfs}}
		{{> pdf}}
		{{else}}
		{{> noData}}
		{{/each}}
		</ul>
	</div>
</template>

<template name="pdf">
	<li class="list-group-item">
		<input id="{{_id}}" type="checkbox" class="toggle-checked"/>
		&nbsp;
		{{name}}
	</li>
</template>

<template name="formFields">
	<div class="template-formFields">
		{{#each formFields}}
		{{> formField}}
		{{else}}
		{{> noData}}
		{{/each}}
	</div>
</template>

<template name="formField">
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
				<span class="input-group-addon">
					{{name}}
				</span>
	      <input id="{{name}}" type="text" class="form-control" aria-label="...">
	    </div>
	  </div>
	</div>
</template>
