<template name="dashboard">
	<div class="template-dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					{{> pdfs}}
				</div>
				<div class="col-md-6">
					{{> formFields}}
				</div>
				<div class="col-md-3">
					{{> generate}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="generate">
	<div class="template-generate">
    <h4 class="icntitle">3. Generate your zip</h4>
		<a id="generate-zip" href="#" class="btn btn-primary" role="button">Go!</a>
	</div>
</template>

<template name="pdfs">
	<div class="template-pdfs">
    <h4 class="icntitle">1. Select PDFs</h4>
		<ul class="list-group">
		{{#each  pdfs}}
		{{> pdf}}
		{{else}}
		{{> noData}}
		{{/each}}
		</ul>
	</div>
</template>

<template name="pdf">
	<li class="list-group-item">
		<input id="{{_id}}" type="checkbox" class="toggle-checked"/>
		&nbsp;
		{{name}}
	</li>
</template>

<template name="formFields">
	<div class="template-formFields">
    <h4 class="icntitle">2. Fill the form</h4>
		{{#each formFields}}
		{{> formField}}
		{{else}}
		{{> noData}}
		{{/each}}
	</div>
</template>

<template name="formField">
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
				<span class="input-group-addon">
					{{name}}
				</span>
	      <input id="{{name}}" type="text" class="form-control" aria-label="...">
	    </div>
	  </div>
	</div>
</template>
